# trccmd.config
# location to store it: ~/.local/trccmd.config
#--- Configs for the trccmd convenience script
# https://github.com/kaiwan/L5_debug_trg/blob/master/kernel_debug/tracing/ftrace/trccmd
TRC_FILE=/tmp/trc.txt

QUIET_MODE=1
DONT_REPORT_IRQCTX=1  # filter out all interrupt context funcs from the final report
SHOW_PARAMETERS=0  # set to 1 to show all traced function's parameters and their runtime values!
                   # you will, however, lose the function-graph indentation

